@import "../bower_components/bootstrap/less/bootstrap.less";
@import "from-template.less";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@icon-font-path: "../fonts/glyphicons/";

@font-family-base: "Lora", serif;

body {
  padding-top: 65px;
}

.column-marker {
  color: @gray-lighter;
  text-align: center;
  border: 1px dotted @gray-darker;
}

.red {
  background-color: @brand-danger;
  .column-marker
}

.green {
  background-color: @brand-success;
  .column-marker
}

.main-content{
  background-color: @gray-lighter;
}

.jumbotron h1 {
  font-size: 60px;
}