@import "../bower_components/bootstrap/less/bootstrap.less";
@import "from-template.less";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@icon-font-path:          "../fonts/glyphicons/";

// http://www.smidswaterfont.com/
@font-face{
  font-family: "sw_light";
  src: url('../fonts/smidswater/SmidsLig.ttf'),
  url('SmidsLig.eot'); /* IE */
}

@font-size-base: 16px;
@font-family-base:        "sw_light";

@headings-color:          #3B383F;
@text-color:              #5A5653;
@brand-success:           #2FD8D0;

@navbar-default-color:    #3B383F;
@navbar-default-bg:       #3B383F;
@navbar-default-link-color: #F3F0EE;
@navbar-default-link-active-color: #3B383F;
@navbar-default-link-hover-color: #EFA20F;
@navbar-default-link-active-bg: #F3F0EE;
@navbar-default-toggle-hover-bg: #4E5863;
@navbar-default-border: #F3F0EE;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

body {
  padding-top: 70px;
}

.column-marker {
  color: @gray-lighter;
  text-align: center;
  border: 1px dotted @gray-darker;
}

.red {
  background-color: @brand-danger;
  .column-marker
}

.green {
  background-color: @brand-success;
  .column-marker
}

.main-content{
  background-color: @gray-lighter;
}

.jumbotron h1 {
  font-size: 60px;
}