@import "../bower_components/bootstrap/less/bootstrap.less";
@import "from-template.less";
@icon-font-path: "../fonts/glyphicons/";

.column-marker {
  color: @gray-lighter;
  text-align: center;
  border: 1px dotted @gray-darker;
}

.red {
  background-color: @brand-danger;
  .column-marker
}

.green {
  background-color: @brand-success;
  .column-marker
}

.main-content{
  background-color: @gray-lighter;
}